<!--landingpage is a child template, it means extend index.html and fills the block-->

{% extends 'index.html' %}      

{% block content %}

<!-- <div class="btn-group" role="group">     This replaces the content block in index.html -->
    <!-- <a class="btn btn-warning btn-sm" href="/suppliers">Manage suppliers</a>
    <a class="btn btn-success btn-sm" href="/products">Manage products</a>
    <a class="btn btn-info btn-sm" href="http://careeria.fi">Recruit code professionals</a>
    <a class="btn btn-danger btn-sm" href="/logout">Logout</a>
</div> -->

<h2 id="otsikko"> Hi {{name}}, Welcome to suppliers app</h2>

{% endblock %}
